:root {
  --black:#0b0b0b;
  --dark-principal:#0b0b0b;
  --color:white;
  --color-second:#eeeeee;
  --color-oposite:#0b0b0b;
  --gradient: linear-gradient(to right, #d604cf, #9822ff);
  --first:#e684ae;
  --second:#79cbca;
}
.navbar {
  width:100vw;
  height:50px;
  background-color:var(--dark-principal);
  position: fixed;
  top:0;
  z-index:100;
  color:var(--color-oposite);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  margin-left:50px;
  color:var(--color)
}
.nav-logo {
  font-size:35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Freehand', sans-serif;
  height:50px;
  padding:0 8px;
}
.nav-left-btn {
  padding:0 14px;
  height:100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:16px;
}
.nav-left-btn:hover .nav-drop{
  opacity: 1;
  visibility: visible;
  top:70px;
}
.nav-left-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-drop {
  position: absolute;
  background-color: var(--dark-principal);
  display: flex;
  align-items: center;
  justify-content: center;
  top:90px;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease;
  left:0;
  border-radius: 3px;
  box-shadow: 3px 3px 7px var(--black);
}
.nav-drop::before {
  content: '';
  left:15px;
  background-color:var(--dark-principal);
  width:20px;
  height:15px;
  top:-17px;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.nav-drop::after {
  content:'';
  position: absolute;
  left:0;
  width:100%;
  height:20px;
  top:-20px;
}
.nav-collumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.nav-collumn-title {
  color:grey;
}
.nav-collumn-title, .nav-collumn-prod {
  margin:7px;
  font-size:18px;
}
.nav-collumn-prod {
  font-size:16px;
  text-decoration: underline;
}
.nav-drop {
  padding:5px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right:50px;
}
.nav-icon {
  height:35px;
  aspect-ratio: 1/1;
  margin:0 20px;
  position: relative;
  background-size: 35px 35px;
}
.nav-icon:nth-child(1) {
  background-image: url(../../Main/svg/like.svg);
}
.nav-icon:nth-child(2) {
  background-image: url(../../Main/svg/shopping-cart-one.svg);
}
.nav-icon:nth-child(3) {
  background-image: url(../../Main/svg/people.svg);
}
.nav-icon:nth-child(4) {
  background-image: url(../../Main/svg/setting-two.svg);
}
.nav-drop-right {
  position: absolute;
  background-color: var(--black);
  top:90px;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease;
  left:50%;
  transform: translate(-50%);
  border-radius: 3px;
  box-shadow: 3px 3px 7px var(--black);
  padding:10px;
  color:var(--color);
  text-align: center;
  padding-right:5px;
  position: relative;
  width:200px;
}
.nav-drop-right::before {
  content: '';
  left:50%;
  translate:-50%;
  background-color:var(--dark-principal);
  width:20px;
  height:15px;
  top:-17px;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.nav-drop-right::after {
  content:'';
  position: absolute;
  left:0;
  width:100%;
  height:35px;
  top:-35px;
}
.nav-icon:hover .nav-drop-right{
  visibility: visible;
  opacity: 1;
  top:70px;
}
.nav-connect {
  text-decoration: underline;
  color:var(--color);
}
.nav-spec {
  width:300px;
  cursor: pointer;
}
.nav-profile-more {
  text-decoration: underline;
  margin:5px 0;
}
.nav-fav {
  width:280px;
  margin:10px 0;
  height:100px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
}
.nav-fav-man {
  background:linear-gradient(to right,#eeeeee, var(--second))
}
.nav-fav-woman {
  background: linear-gradient(to right, #eee, var(--first));
}
.nav-fav-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding-right:10px;
  height:100%;
  font-family: 'Noto sans serif', sans-serif;
}
.nav-top {
  justify-content: flex-start;
  height:75%;
}
.nav-fav-photo {
  height:100%;
  background-size:cover;
}
.nav-fav-nume {
  text-align: left;
  font-size:20px;
  justify-self: flex-start;
  line-height:20px;
  padding-top:5px;
  color:var(--color-oposite);
  font-family: 'Dancing script', sans-serif;
  font-weight: 700;
}
.nav-fav-price {
  font-weight: 600;
  font-size:16px;
  font-family: 'Noto sans georgian';
  color:var(--color-oposite);
}
.nav-fav-nr {
  font-size:15px;
  line-height:15px;
  color:rgb(42, 42, 42);
}
.nav-fav-title {
  font-size:20px;
  color:white;
}
.nav-fav-size {
  line-height:15px;
  font-size:15px;
  color:rgb(42, 42, 42);
}
.nav-set {
  text-decoration: underline;
}
.nav-drop-set {
  width:150px;
}
.nav-tot {
  background-color: var(--color);
  width:280px;
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
  margin:10px 0;
  color:var(--black);
  font-family: 'Noto sans serif', sans-serif;
  cursor: pointer;
  font-weight: 800;
  box-shadow: 1px 1px 2px var(--black);
}