:root {
    --black:#0b0b0b;
    --dark-principal:#0b0b0b;
    --color:white;
    --color-second:#eeeeee;
    --color-oposite:#0b0b0b;
    --gradient: linear-gradient(to right, #d604cf, #9822ff);
    --first:#e684ae;
    --second:#79cbca;
}

.side-filter-bar {
    width:230px;
    height:100vh;
    background-color: var(--color);
    position: fixed;
    color:var(--color-oposite);
    padding:70px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index:9;
}
.side-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
    background-color: var(--color);
}
.side-price-input {
    outline: none;
    color:var(--color-second);
    opacity: 0.9;
    width:100%;
    padding:3px 5px;
    background-color: var(--color-oposite);
}
.side-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width:100%;
}
.side-font {
    font-family: 'Noto sans georgian', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width:calc(50% - 5px);
    text-align: center;
}
.side-size {
    color:var(--color-oposite);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    width:calc(50% - 5px);
}
.side-size-check {
    display:none
}
.side-size-check:checked ~ .side-size-label {
    background-color: var(--second);
    color:var(--color)
}
.side-size-check:checked ~ .side-size-label .side-size-img-up {
    background-image: url(../svg/arrow-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down {
    background-image: url(../svg/arrow-down.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-up-dark {
    background-image: url(../svg-dark/arrow-up.svg);
}
.side-size-check:checked ~ .side-size-label .side-size-img-down-dark {
    background-image: url(../svg-dark/arrow-down.svg);
}
.side-size-label {
    padding:5px 0;
    border-radius:3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-size-img-up, .side-size-img-down, .side-size-img-up-dark, .side-size-img-down-dark {
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.side-size-img-up {
    background-image: url(../svg-dark/arrow-up.svg)
}
.side-size-img-down {
    background-image: url(../svg-dark/arrow-down.svg)
}
.side-size-img-up-dark {
    background-image: url(../svg/arrow-up.svg)
}
.side-size-img-down-dark {
    background-image: url(../svg/arrow-down.svg)
}
.side-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width:calc(50% - 5px);
    flex-direction: column;
}