@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin:0;
}
.acc-main {
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: #eee;
}
.container {
  position: relative;
  width:768px;
  max-width: 100%;
  min-height: 480px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.sign-in, .sign-up {
  position: absolute;
  left:0;
  top:0;
  height:100%;
  transition: all 0.6s ease-in-out;
}
.sign-up {
  width:50%;
  opacity: 0;
  z-index:1;
}
.sign-in {
  width:50%;
  z-index:2;
}

/*----------Sign Up / Sign In----------*/


form.acc-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;
  text-align: center;
}
.acc-form-title {
  font-size:26px;
  font-family: 'Noto sans serif', sans-serif;
  font-weight: 600;
  margin:10px 0 5px 0;
}
.acc-form-text {
  font-size:14px;
  margin:8px 0;
  font-family: 'Poppins', sans-serif;
}
input.acc-input {
  background-color:#eee;
  padding:12px 15px 10px 55px;
  width:100%;
  border:1px solid transparent;
  outline: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size:14px;
}
input.acc-input:invalid{
  animation: wrong 300ms ease-in-out;
  border:1px solid rgb(249, 129, 129);
}
input.acc-input:valid {
  background-color: rgb(230, 250, 255);
}
label.acc-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color:transparent;
  border-radius: 5px;
  margin:7px 0;
  width:80%;
  position: relative;
}
.acc-label .place-holder {
  position: absolute;
  transform: translateX(55px);
  transition: 300ms ease;
  opacity:0.8
}
input.acc-input:focus ~ .place-holder {
  transform: translate(55px, -16px);
  font-size:12px;
}
input.acc-input:not(:placeholder-shown) ~ .place-holder {
  transform: translate(55px, -16px);
  font-size:12px;
}
@keyframes wrong {
  0% {transform: translateX(0)}
  33% {transform: translateX(-5px)}
  66% {transform: translateX(5px)}
  100% {transform: translateX(0);}
}
.acc-svg {
  scale:0.6;
  position: absolute;
  z-index:1;
  border-right: 1px solid rgb(39, 39, 39);
  padding-right:10px;
}
.acc-svg-sign {
  cursor: pointer;
  scale:0.6;
}
.acc-svg-eye {
  position: absolute;
  right:0;
  z-index:1;
  border-left:1px solid rgb(39,39,39);
  scale:0.7;
  padding-left:10px;
}
.acc a {
  color:#333;
  margin:15px 0;
  text-decoration: none;
  font-size:14px;
}
button.acc-btn {
  color:#fff;
  background-color:transparent;
  font-size:18px;
  padding: 6px 55px;
  border-radius: 10px;
  border:1px solid white;
  outline:none;
  /* text-transform: uppercase; */
  transition: transform 80ms ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
button.acc-btn:active {
  transform: scale(0.9);
}
.acc-btn {
  background-color: transparent;
  border:2px solid #fff;
}
.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.right-panel-active .sign-in {
  transform: translateX(100%);
}
.acc-submit {
  border-radius: 10px;
  padding:6px 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size:18px;
  background-color: #a00cae;
  color:white;
  margin:10px 0;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(113, 113, 113, 0.3), 0 0 5px rgba(156, 156, 156, 0.3), 0 rgba(185, 185, 185, 0.3);
}


/*----------Overlay----------*/


.overlay-container {
  position: absolute;
  top:0;
  left:50%;
  width:50%;
  height:100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index:50;
}
.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.overlay {
  position: relative;
  color:#fff;
  background-color: #ff416c;
  left:-100%;
  height:100%;
  width:200%;
  background: linear-gradient(to right, #ff4b28, #ff22bc);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.right-panel-active .overlay {
  transform: translateX(50%);
}
.overlay-left, .overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top:0;
  height:100%;
  width:50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out
}
.overlay-left {
  transform: translateX(-20%);
}
.overlay-right {
  right:0;
  transform: translateX(0);
}
.right-panel-active .overlay-left {
  transform: translateX(0);
} 
.right-panel-active .overlay-right {
  transform: translateX(20%);
} 
.overlay-title {
  font-size:26px;
  color:white;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom:20px;
}
.overlay-text {
  font-size:16px;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom:5px;
}